.expo
dist/
web-build/
expo-env.d.ts
docs
node_modules
.kotlin
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
.env*.local
*.tsbuildinfo
package-lock.json
build
_app/*
.DS_store
app/android
app/ios
node_modules
dist
bundle
artifacts
cache
types
coverage
*.env
eas.json
PocketCore.xcframework
.vscode
.cursor
functions
assets
android
ios
_app_
app