<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695616839844-ffhb0aaps87gjcmcfb72nkjc3coqepf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695616839844-ffhb0aaps87gjcmcfb72nkjc3coqepf4</string>
	<key>API_KEY</key>
	<string>AIzaSyAaa6gekaZtc1HE_y1V4uTF9jug7KqttW8</string>
	<key>GCM_SENDER_ID</key>
	<string>695616839844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mindsgn.studio.pockt</string>
	<key>PROJECT_ID</key>
	<string>pocket-money-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>pocket-money-backend.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695616839844:ios:2eec75d70c33e212b94631</string>
</dict>
</plist>